@font-face {
  font-family: 'Bree Serif Regular';
  src: url('../fonts/BreeSerif-Regular.otf') format('opentype');
}

body {
  background-color: #FFFCF3;
  font-family: 'Bree Serif Regular', 'Times New Roman', Georgia, Serif;
}

header {
  background-image: url('../static/photo 1.jpeg');

  h1 {

  }
}